# django settings
local_settings.py

# bootstrap things
docs/
*/bootstrap-3.3.0
*/bootstrap-3.3.0/grunt/

# dev db
verellen/db.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/test-infra/
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/grunt/
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/js/tests/
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/less/.csscomb.json
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/less/.csslintrc
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/package.json
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/.editorconfig
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/.gitattributes
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/.gitignore
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/.travis.yml
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/CNAME
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/CONTRIBUTING.md
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/Gruntfile.js
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/LICENSE
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/README.md
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/_config.yml
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/bower.json
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/composer.json
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/js/.jscsrc
/verellen/verellen/static/verellen/css/bootstrap-3.3.0/js/.jshintrc
media/

# Note to self
Notes.md

# Makestaticfiles
/static/
