Django==1.10.4
Pillow==3.4.2
amqp==2.1.4
anyjson==0.3.3
billiard==3.5.0.2
boto==2.45.0
celery==4.0.2
django-celery==3.1.17
django_compressor==2.1
django-grappelli==2.9.1
django-htmlmin==0.10.0
django-storages==1.5.1
django-tinymce==2.4
kombu==3.0.23
python-dateutil==2.6.0
pytz==2016.10
redis==2.10.5
six==1.10.0
sorl-thumbnail==12.3
wsgiref==0.1.2
