{% extends 'base.html' %}
{% load static %}

{% block title %}
{% block title_google %}
{% block title_twitter %}
{% block title_opengraph %}
    Retailers
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}

{% block namespace %} retailers {% endblock %}

{% block content %}
<h2 class="moveout">Retailers</h2>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <form class="form search-bar" role="form" action="{% url 'retailer.home' %}" method="get">
            <div class="input-group">
                <input type="text" class="form-control" name="query" id="query"
                       placeholder="Address, city, name, etc." value="{{ search_query }}">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
        <div class="result-box">
            <ul class="results">
                {% for retailer in matches %}
                <li>
                    <h5>{{ retailer.partner.name }}</h5>
                    <p>
                        {{ retailer.address }}
                        <br>
                        {{ retailer.city }},{% if retailer.state %} {{ retailer.state }}{% endif %} {{ retailer.zip_code }}, {{ retailer.country }}
                    </p>

                    <p><i class="glyphicon glyphicon-earphone"></i> {{ retailer.phone }}<br>{{ retailer.website }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-xs-12 col-sm-8">
        <div class="pull-right retailer-map" id="map"></div>
    </div>
</div>
<div class="boutiques">
    <h2>Verellen Boutiques</h2>
    <h3>Featuring Verellen Upholstery, Lighting, Case Goods and Accessories</h3>
    <div>
        <ul class="results list-unstyled">
            {% for retailer in boutiques %}
            <li>
                <h5>{{ retailer.partner.name }}</h5>
                <p>
                    {{ retailer.address }}
                    <br>
                    {{ retailer.city }},{% if retailer.state %} {{ retailer.state }}{% endif %} {{ retailer.zip_code }}, {{ retailer.country }}
                </p>

                <p><i class="glyphicon glyphicon-earphone"></i> {{ retailer.phone }}<br>{{ retailer.website }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        var retailer_map_height = $('.retailer-map').height();
        var result_box_height   = $('.result-box').height();

        var retailer_map_top = $('.retailer-map').offset().top;
        var result_box_top   = $('.result-box').offset().top;
        var offset_bottom    = 50;

        function resize() {
            if ($(window).width() > 767) {
                $('.retailer-map').height($(window).height() - retailer_map_top - offset_bottom);
                $('.result-box').height($(window).height() - result_box_top - offset_bottom);
            } else {
                $('.retailer-map').retailer_map_height();
                $('.result-box').result_box_height();
            }
        }
        resize();

        $( window ).resize(function() {
            resize();
        });
    });

    var locations = [
      {% for retailer in retailers %}
         ['{% spaceless %}{% include "retailers/infobox.html" with retailer=retailer %}{% endspaceless %}', '{{ retailer.lat }}', '{{ retailer.lng }}', {% if retailer.partner.is_boutique %}true{% else %}false{% endif %}],
      {% endfor %}
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(0, 0),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;
    var bounds = new google.maps.LatLngBounds();
    var icon = "{% static 'verellen/images/home_logo.png' %}"

    for (i = 0; i < locations.length; i++) {
      if (locations[i][3]) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map,
            icon: icon
          });
      } else {
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
          });
      }
      bounds.extend(marker.getPosition());

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
    map.fitBounds(bounds);
  </script>
{% endblock %}
