{% extends 'base.html' %}

{% block title %}Retailers{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-xs-12">
        <h3>Find retailers</h3>
        <form class="form" role="form" action="{% url 'retailer.home' %}" method="get">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control" name="query" id="query"
                       placeholder="Address, city, name, etc." value="{{ search_query }}">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>

            <!-- <label for="query" class="sr-only">Password</label> -->
            <!-- <input type="text" id="query" class="form-control" placeholder="Address, city, name, etc." required="" name="query"> -->

            <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button> -->
        </form>

        <!-- <p>Results for '{{ search_query }}'</p> -->

        <ul>
            {% for retailer in matches %}
            <li>
                <h5>{{ retailer.name }}</h5>
                <p>{{ retailer.address }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="pull-right" id="map" style="height: 400px; width: 500px;"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript">
    var locations = [
      {% for retailer in retailers %}
         ['{{ retailer.name }}', '{{ retailer.lat }}', '{{ retailer.lng }}'],
      {% endfor %}
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(0, 0),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;
    var bounds = new google.maps.LatLngBounds();

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });
      bounds.extend(marker.getPosition());

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
    map.fitBounds(bounds);
  </script>
{% endblock %}
