{% load staticfiles  %}
{% load navigation %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Verellen</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Verellen does upholstered furniture like no one else. We invite you to sit and see for yourself, and we are fairly certain it will be love at first sight.">
        <meta name="keywords" content="Distinctive details, Elegant lines, Authentic materials, Forgivable fabrics, Tailor-made covers, Timeless sophistication">

        <link href="{% static 'verellen/css/landing.css' %}" rel="stylesheet" type="text/css">
        {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
            <meta name="hej">
            {% include "ga.html" %}
        {% endif %}
    </head>

    <body>
        <h1 class="moveout">Verellen</h1>
        <div class="landing">
            <a href="{% url 'content.home' %}">
                <div class="banner text-indent" style="background-image: url('{% static 'verellen/images/webphoto.jpg' %}')">Verellen webphoto</div>
                <img class="logo" src="{% static 'verellen/images/logo_large_white.png' %}" alt="Verellen" />
            </a>
        </div>
    </body>
</html>
