html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #FFF;
    .font-body();
}

h1, h2, h3, h4, h5, h6 {
    .font-heading();
}

.content {
    padding-bottom: 30px;
}

.back-nav {
    margin-bottom: 20px;
    a {
        .font-body();

        text-decoration: underline;
    }
}