@font-face {
    font-family: VerellenHeading;
    src: url(../fonts/apercu_bold.otf);
}

@font-face {
    font-family: VerellenBody;
    src: url(../fonts/ProximaNova-Light.otf);
}

.font-heading {
    font-family: VerellenHeading;
    letter-spacing: 1pt;
    text-transform: uppercase;
}

.font-body {
    font-family: VerellenBody;
}