/* Header */

.header {
    background-color: #FFFEF9;
    height: 100px;

    .inner {
        margin-top: 30px;

        .brand {
            /* width: 100px; */
        }

        .menu {
            float: right;

            li {
                display: inline;
                bullet-style: none;
                margin-left: 100px;
            }
        }
    }
}

/* Main content */

.content {
    background-color: #F2F2F2;
}

/* Footer */
.footer-top {
    background-color: #CCC;
}

.footer-bottom {
    height: 20px;

    color: white;
    background-color: #2E2E2E;

    .inner {
        text-align: center;
    }
}

@import "products.less";