html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #2E2E2E;
  cursor: pointer;
}
h1.moveout {
  text-indent: -99999px;
  position: absolute;
}
.text-indent {
  text-indent: -99999px;
}
.landing {
  width: 100%;
  height: 100%;
}
.landing .banner {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}
.landing .logo {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
@media screen and (min-width: 768px) {
  #optinModal .modal-dialog {
    max-width: 450px;
  }
}
.modal-content.optin {
  padding: 15px 15px 0 15px;
  background-color: rgba(255, 245, 235, 0.7);
}
.modal-content.optin .modal-header {
  border: 0;
}
.modal-content.optin .modal-header img {
  width: 100%;
  max-width: 385px;
}
.modal-content.optin .modal-header .logo-text {
  font-weight: bold;
}
.modal-content.optin .modal-body {
  position: relative;
}
.modal-content.optin .modal-body .alert {
  padding: 10px;
}
.modal-content.optin .modal-body .form-control {
  color: #999;
}
.modal-content.optin .modal-body .radio {
  margin: 5px;
}
.modal-content.optin .modal-body .radio input[type="radio"] {
  margin: 2px 0 0;
  margin-left: -20px;
}
.modal-content.optin .modal-body button[type="submit"] {
  margin-top: 10px;
}
.modal-content.optin .modal-body .success {
  display: none;
}
.modal-content.optin .modal-body .errors {
  display: none;
  margin: 15px 0;
  padding: 15px;
  background: #f2dede;
  color: #a94442;
}
.modal-content.optin .modal-body label.error {
  color: #590000;
  font-size: 13px;
}
