@navbar-item-spacing: 80px;

.navbar-verellen {
    .navbar-default();

    border: none;

    .navbar-brand {
        padding: 25px 15px;
    }

    ul.navbar-nav li {

        &.current .marker {
            position: absolute;

            bottom: 30px;
            left: 50%;
            margin-left: 30px;

            width: 20px;
            height: 10px;

            border-bottom: 2px solid @verellen-dark;

            // For the collapsed mode
            @media (max-width: @screen-md) {
                left: @navbar-item-spacing;
                margin-left: 0;
                top: 25px;
            }
        }

        .menu-item {
            padding-left: @navbar-item-spacing;
            padding-right: 0;

            .font-heading();
            font-size: 16px;
        }
    }

    .dropdown-menu.category-menu {
        // padding-top: 10px;
        // padding-bottom: 10px;

        // right: initial;
        // left: initial;

        // // width: 500px;

        right: -15px;

        @drop-color: #38474d;

        padding-left: 10px;

        //border: none;
        .border-left-radius(0);
        .border-right-radius(0);

        border-top: none;
        border-left: 1px solid @drop-color;
        border-right: 1px solid @drop-color;
        border-bottom: 1px solid @drop-color;

        background-color: #FFF;

        .category-item {
            padding: 5px;

            a {
                .font-heading(14px);

                color: @drop-color;

                text-transform: uppercase;
            }
        }
    }
}
