.partner-products {
    .product-thumbnail {
        height:205px;
        margin-bottom: 30px;
        img { margin-bottom: 10px; }
        .name {
            .font-heading(14px);
            text-align: center;
        }
    }

    .product-detail-thumbnail {
        margin: 0 0 10px 10px;
    }
}

.partner-downloads {
    .download-caption {
        font-size: 20px;
    }
}