.partner-products {
    .product-thumbnail {
        margin-bottom: 30px;
        img { margin-bottom: 10px; }
        .name {
            .font-heading(14px);
            text-align: center;
        }
    }

    .product-category-thumbnail {
        .product-thumbnail();
        height:210px;
    }

    .product-detail-thumbnail {
        margin: 0 0 10px 10px;
    }
}

.partner-downloads {
    .download-caption {
        font-size: 20px;
    }
}

.btn-tearsheet {
    min-width: 215px;
    text-align: left;
    margin-bottom: 5px;
}