.products {
    .row {
        padding-top: 30px;
    }

    .product-thumbnail {
        margin-bottom: 30px;

        .hover {
            display: none;
            position: absolute;

            padding-right: 30px;
            width: 100%;
            height: 100%;

            background-color: black;
            background-clip: content-box;
            color: white;
            text-align: center;

            .name {
                font-size: 20px;
                margin-top: 130px;
            }
        }

        &:hover {
            .hover { display: block }
        }
    }
}

.product-detail {
    padding-top: 30px;

    .col-header-sep {
        width: 30px;
        height: 10px;

        border-bottom: 2px solid @verellen-dark;

        margin-bottom: 20px;
    }
}