.products {
    .row {
        padding-top: 30px;
    }

    .product-thumbnail {
        margin-bottom: 30px;
    }
}

.product-detail {
    padding-top: 30px;

    .col-header-sep {
        width: 30px;
        height: 10px;

        border-bottom: 2px solid @verellen-dark;

        margin-bottom: 20px;
    }
}