{% extends 'partner_base.html' %}
{% load static %}

{% block title %}Partners{% endblock %}
<h2 class="moveout">Partner</h2>
{% block partner_content %}
<div class="row">
    <div class="col-sm-6 col-xs-12 medium-body-type">
        Welcome <strong>{{ name }}</strong>! On this page you can download information about Verellen products.
    </div>

    <div class="col-sm-6 col-xs-12 medium-body-type">
        <img class="img-responsive" src={% static 'verellen/images/fireplace_cropped.jpeg' %} alt="Fireplace" />
    </div>
</div>
{% endblock %}
