{% extends 'base.html' %}
{% load static %}

{% block title %}Retailers{% endblock %}
<h2 class="moveout">Partner log in</h2>
{% block content %}

{% if messages %}
    <div class="row">
        <div class="col-xs-12">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>

                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <form class="form" role="form" action="{% url 'partner.login_form' %}" method="post">
            {% csrf_token %}
            <legend>Partner log in</legend>

            <div class="form-group">
                <label for="customerNumber">Customer number</label>
                <input type="text" id="customerNumber" class="form-control" placeholder="Customer number" required="" autofocus="" name="customer_number">
            </div>

            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
            </div>

            <button class="btn btn-default" type="submit">Sign in</button>
        </form>
    </div>

    <div class="col-xs-12 col-sm-6 medium-body-type">
        <img class="img-responsive" src={% static 'verellen/images/fireplace_cropped.jpeg' %} alt="Fireplace" />
    </div>
</div>
{% endblock %}
