{% extends 'partner_base.html' %}

{% block title %}Partners - downloads{% endblock %}
{% block namespace %}partner-downloads{% endblock %}

{% block partner_content %}
<p class="download-caption">Price lists for all Verellen models</p>

<div class="panel panel-default">
    <div class="panel-heading">Files</div>

    <table class="table table-hover">
        <tbody>
            {% for file in files %}
                <tr>
                    <td>
                        {{ file.name }}
                    </td>

                    <td>
                        <div class="btn-group pull-right">
                            <a href="{{ file.file.url }}" class="btn btn-default"><span class="glyphicon glyphicon-download"></span> Download</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
