{% extends 'partner_base.html' %}
{% load thumbnail %}
{% load navigation %}

{% block namespace %}partner-products{% endblock %}

{% block title %}Partners - products{% endblock %}
{% block partner_content %}
<div class="row back-nav">
    <div class="col-xs-12">
        <a href="{% url 'partner.product_category' product.category.slug %}">Back to {{ product.category.name }}</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <h3>{{ product.name }}</h3>
        {% if tearsheet_url %}
        <a href="{{ tearsheet_url }}" class="btn btn-default btn-tearsheet"><span class="glyphicon glyphicon-download"></span> Download tearsheet (US)</a>
        <a href="/partner/view?file={{ tearsheet_url }}" class="btn btn-default btn-tearsheet"><span class="glyphicon glyphicon-align-left"></span> View tearsheet (US)</a>
        {% endif %}
        
        {% if tearsheet_metric_url %}
        <a href="{{ tearsheet_metric_url }}" class="btn btn-default btn-tearsheet"><span class="glyphicon glyphicon-download"></span> Download tearsheet (Metric)</a>
        <a href="/partner/view?file={{ tearsheet_metric_url }}" class="btn btn-default btn-tearsheet"><span class="glyphicon glyphicon-align-left"></span> View tearsheet (Metric)</a>
        {% endif %}
    </div>

    <div class="col-xs-8">
        {% for image in product.image_set.all %}
            {% thumbnail image.image_file "240x240" crop="center" as thumb %}
                <a class="pull-right product-detail-thumbnail" href="{{ image.image_file.url }}">
                    <img src="{{ thumb.url }}" class="img-responsive">
                </a>
            {% endthumbnail %}
        {% endfor %}
    </div>
</div>
{% endblock %}
