{% extends 'partner_base.html' %}
{% load thumbnail %}
{% load navigation %}

{% block namespace %}partner-products{% endblock %}

{% block title %}Partners - products{% endblock %}
{% block partner_content %}
<div class="row back-nav">
    <div class="col-xs-12">
        <a href="{% url 'partner.product_category_list' %}">Back to categories</a>
    </div>
</div>

<div class="row">

    <div class="col-xs-2">
        <ul class="nav nav-pills nav-stacked">
            {% for product in products %}
            <li role="presentation" >
                <a href="{% url 'partner.product_detail' product.id %}">{{ product.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-xs-10">
        <div class="row">
            {% for product in products %}
            <div class="col-sm-3 col-xs-6 product-thumbnail">
                <a href="{% url 'partner.product_detail' product.id %}" >

                    {% thumbnail product.get_main_image "360x300" crop="center" as thumb %}
                    <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" class="img-responsive">
                    {% endthumbnail %}

                    <div class="name">{{ product.name }}</div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
