{% extends 'partner_base.html' %}
{% load thumbnail %}
{% load navigation %}

{% block namespace %}partner-products{% endblock %}

{% block title %}
{% block title_google %}
{% block title_twitter %}
{% block title_opengraph %}
    Partners - products
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}

{% block partner_content %}
<h2 class="moveout">Products</h2>
<div class="row">

    <div class="row" id="wrapper">
        <div id="sidebar-wrapper" class="visible-xs visible-sm">
            <div class="close">&times;</div>
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Categories
                </li>
                {% for category in categories %}
                <li role="presentation" >
                    <a href="{% url 'partner.product_category' category.slug %}">{{ category.name }}</a>
                </li>
                {% endfor %}
                {% if show_us %}
                <li>
                    <a title="Download all US tear sheets" href="/partner/download/us"><span class="glyphicon glyphicon-download"></span> Tear sheets (US)</a>
                </li>
                {% endif %}
                {% if show_metric %}
                <li>
                    <a title="Download all EU tear sheets" href="/partner/download/eu"><span class="glyphicon glyphicon-download"></span> Tear sheets (Metric)</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div id="page-content-wrapper">
        <div class="col-md-2 hidden-xs hidden-sm">
            Download all tear sheets:
            <ul class="nav nav-pills nav-stacked">
                {% if show_us %}
                <li>
                    <a title="Download all US tear sheets" href="/partner/download/us"><span class="glyphicon glyphicon-download"></span> Tear sheets (US)</a>
                </li>
                {% endif %}
                {% if show_metric %}
                <li>
                    <a title="Download all EU tear sheets" href="/partner/download/eu"><span class="glyphicon glyphicon-download"></span> Tear sheets (Metric)</a>
                </li>
                {% endif %}
            </ul>
            <hr>
            <ul class="nav nav-pills nav-stacked">
                {% for category in categories %}
                <!-- class="{% current 'partner.tear_sheets' 'active' %}" -->
                <li role="presentation" >
                    <a href="{% url 'partner.product_category' category.slug %}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-10">
            <div class="row">
                {% for category in categories %}
                <div class="col-sm-4 col-md-3 product-thumbnail">
                    <a href="{% url 'partner.product_category' category.slug %}" >

                        {% thumbnail category.image "360" as thumb %}
                        <div class="text-indent" style="background-image: url('{{ thumb.url }}'); background-size: contain; background-repeat: no-repeat; background-position: center; width: 100%; height: 100%; min-height: 200px; max-height: 360px; max-width: 360px; margin: 0 auto">{{ category.name }}</div>
                        {% endthumbnail %}

                        <div class="name">{{ category.name }}</div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
