{% extends 'partner_base.html' %}
{% load thumbnail %}
{% load navigation %}

{% block namespace %}partner-products{% endblock %}

{% block title %}Partners - products{% endblock %}
{% block partner_content %}
<div class="row">

    <div class="col-xs-2">
        <ul class="nav nav-pills nav-stacked">
            {% for category in categories %}
            <!-- class="{% current 'partner.tear_sheets' 'active' %}" -->
            <li role="presentation" >
                <a href="{% url 'partner.product_category' category.slug %}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-xs-10">
        <div class="row">
            {% for category in categories %}
            <div class="col-sm-3 col-xs-6 product-thumbnail">
                <a href="{% url 'partner.product_category' category.slug %}" >

                    {% thumbnail category.image "360x300" crop="center" as thumb %}
                    <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" class="img-responsive">
                    {% endthumbnail %}

                    <div class="name">{{ category.name }}</div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


        <!--         <form class="form-inline" role="form" action="{% url 'partner.tear_sheets' %}" method="get"> -->
        <!--             {% csrf_token %} -->
        <!--             <div class="input-group"> -->
        <!--                 <input type="text" class="form-control" name="query" id="query" -->
        <!--                        placeholder="Search query" value="{{ search_query }}"> -->
        <!--             </div> -->
        <!-- <div class="input-group"> -->
        <!--                 <select class="form-control" name="category"> -->
        <!--                     <option value="-1">Any category</option> -->
        <!--                     {% for cat in categories %} -->
        <!--                     <option {% if cat.id == search_category %} selected="selected"  {% endif %} value="{{cat.id}}">{{cat.name}}</option> -->
        <!--                     {% endfor %} -->
        <!--                 </select> -->
        <!--             </div> -->
        <!-- <button class="btn btn-default" type="submit"> -->
        <!--                 <i class="glyphicon glyphicon-filter"></i> Filter -->
        <!--             </button> -->
        <!--         </form> -->
