{% extends 'base.html' %}
{% load thumbnail %}
{% load navigation %}

{% block namespace %}partner-products{% endblock %}

{% block title %}
{% block title_google %}
{% block title_twitter %}
{% block title_opengraph %}
    {{ product.name }}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}

{% block image_google %}
{% block image_twitter %}
{% block image_opengraph %}
    {% thumbnail product.get_main_image "800" as thumb %}
        {{ thumb.url }}
    {% endthumbnail %}
{% endblock %}
{% endblock %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-4">
        <h2>{{ product.name }}</h2>
        {% if tearsheet_url %}
        <a href="{{ tearsheet_url }}" class="col-sm-5 btn btn-default btn-tearsheet"><span class="glyphicon glyphicon-download"></span> Download tearsheet (US)</a>
        <a href="/view?file={{ tearsheet_url }}" class="col-sm-5 col-sm-offset-1 col-md-offset-0 pull-sm-right btn btn-default btn-tearsheet"><span class="glyphicon glyphicon-align-left"></span> View tearsheet (US)</a>
        {% endif %}

        {% if tearsheet_metric_url %}
        <a href="{{ tearsheet_metric_url }}" class="col-sm-5 btn btn-default btn-tearsheet"><span class="glyphicon glyphicon-download"></span> Download tearsheet (Metric)</a>
        <a href="/view?file={{ tearsheet_metric_url }}" class="col-sm-5 col-sm-offset-1 col-md-offset-0 pull-sm-right btn btn-default btn-tearsheet"><span class="glyphicon glyphicon-align-left"></span> View tearsheet (Metric)</a>
        {% endif %}
    </div>

    <div class="col-xs-12 col-md-8">
        {% for image in product.image_set.all %}
            {% thumbnail image.image_file "240" as thumb %}
                <a class="pull-lg-right pull-md-right pull-sm-left pull-xs-left product-detail-thumbnail" href="{{ image.image_file.url }}">
                    <!-- <img src="{{ thumb.url }}" class="img-responsive"> -->
                    <div class="text-indent" style="background-image: url('{{ thumb.url }}'); background-size: contain; background-repeat: no-repeat; background-position: center; width: 240px; height: 240px; margin: 0 auto">{{ product.name }}</div>
                </a>
            {% endthumbnail %}
        {% endfor %}
    </div>
</div>
{% endblock %}
