{% extends 'base.html' %}

{% block title %} {{product.name}} {% endblock %}
{% block namespace %} product-detail {% endblock %}

{% block content %}

<div class="row">
    {% for image in product.image_set.all %}
    <div class="col-lg-3 col-sm-4 col-xs-6 product-thumbnail">
        <img src="{{ image.image_file.url }}" class="img-responsive">
    </div>
    {% endfor %}
</div>


<div class="row">
    <div class="col-sm-6 col-xs-12">
        <h2>{{ product.name }}</h2>

        <div class="col-header-sep"></div>

        <p>{{ product.description | safe }}</p>
    </div>

    <div class="col-sm-6 col-xs-12">
        <h2>Dimensions</h2>

        <div class="col-header-sep"></div>

        <p>{{ product.dimensions | safe }}</p>
    </div>
</div>

{% endblock content %}
<!-- {-% thumbnail product.main_image.image_file small as im %} -->
<!-- <img src="{{ im.url }}" class="img-responsive"> -->
<!-- {-% endthumbnail %} -->
