{% extends 'base.html' %}
{% load thumbnail %}

{% block title %} {{product.name}} {% endblock %}
{% block namespace %} product-detail {% endblock %}

{% block content %}

<div class="row back-nav">
    <div class="col-xs-12">
        <a href="{% url 'product.list' product.category.slug %}">Back to {{ product.category.name }}</a>
    </div>
</div>

<div class="row">
    {% thumbnail main_image.image_file "800x502" crop="center" as thumb %}
        <div class="col-xs-8 product-thumbnail">
            <a href="{{ image.image_file.url }}">
                <img src="{{ thumb.url }}" class="img-responsive">
            </a>
        </div>
    {% endthumbnail %}

    <div class="col-xs-2">
        {% for image in col1_images %}
            {% if forloop.counter == 2 %}
                <div class="product-name-tile">
                    <div class="name">
                        {{ product.name }}
                    </div>
                </div>
            {% endif %}

            {% thumbnail image.image_file "300x250" crop="center" as thumb %}
                <a class="product-thumbnail" href="{{ image.image_file.url }}">
                    <img src="{{ thumb.url }}" class="img-responsive">
                </a>
            {% endthumbnail %}
        {% endfor %}
    </div>

    <div class="col-xs-2">
        {% for image in col2_images %}
            {% thumbnail image.image_file "300x250" crop="center" as thumb %}
                <a class="product-thumbnail" href="{{ image.image_file.url }}">
                    <img src="{{ thumb.url }}" class="img-responsive">
                </a>
            {% endthumbnail %}
        {% endfor %}
    </div>
</div>


<div class="row">
    <div class="col-xs-6">
        <h2>{{ product.name }}</h2>

        <div class="col-header-sep"></div>

        <p>{{ product_content.product_body | safe }}</p>
    </div>
</div>

{% endblock content %}
